<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="author" content="zooduck">
        <link rel="manifest" href="./manifest.json">
        <title>bookshelf-ui</title>
    </head>

    <body>

      <header>
        <span>bookshelf-ui</span>
      </header>

      <books>
        <div class="book" id="bookTemplate" template>
          <a href="" target="_blank" thumbnailanchor>
            <div class="book__thumbnail" thumbnail alt=""></div>
          </a>
          <div class="book__data">
            <div class="book__title" title></div>
            <div class="book__isbn" isbn></div>
            <div class="book__authors" authors></div>
            <div class="book__description" description></div>
          </div>
        </div>
      </books>

    </body>

</html>
