books {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 1);
  // flex-direction: column;
  // justify-content: center;
}
books .book {
  display: flex;
  flex-basis: 50%;
  flex-grow: 1;
  padding: 10px;
  border-left: solid 10px transparent;
}
books .book:hover {
  border-left: solid 10px rgba(0, 0, 0, .25);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, .45);
}
books .book__ctrls {

}
books .book__ctrls .book__ctrl {
  cursor: pointer;
}
books .book__thumbnail {
  width: 133px;
  align-self: baseline;
  // width: 166px;
  // height: auto;
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-position: center;
  flex-shrink: 0;
  box-shadow: 2px 2px 15px #ccc;
  border: solid 10px #fff;
  transform: rotate(-2deg);
  cursor: pointer;
}
books .book__thumbnail.missing {
  align-self: stretch;
  box-shadow: none;
  border: dashed 5px rgba(0, 0, 0, .1);
}
books .book__thumbnail:active {
  transform: scale(.95) rotate(-2deg);
  box-shadow: 1px 1px 5px #ccc;
}
books .book__data {
  display: flex;
  // align-self: baseline;
  flex-direction: column;
  flex-basis: 100%;
  margin-left: 10px;
  font-size: 22px;
}
books .book__data div:not(:first-of-type) {
  margin-top: 5px;
}
books .book__data .book__title {
  padding: 5px;
  font-size: 36px;
  font-weight: bold;
  background-color: #eee;
}
books .book.new .book__title, books .book.new .book__thumbnail {
  border: solid rgba(0, 0, 0, 1);
}
books .book__data .book__isbn {
  padding: 0 5px;
}
books .book__data .book__isbn span:first-of-type {
  font-weight: bold;
}
books .book__data .book__authors {
  padding: 0 5px;
}
books .book__data .book__authors span:first-of-type {
  font-weight: bold;
}
books .book__data .book__category {
  padding: 0 5px;
}
books .book__data .book__category span:first-of-type {
  font-weight: bold;
}
books .book__data .book__description {
  padding: 0 5px;
  text-align: justify;

  // max-height: 100px;
  // overflow: hidden;
  // resize: none;
  // overflow: auto;

  // border: solid 0 gainsboro;
  // border-top-width: 3px;
  // padding-top: 5px;
}
books .book__data .book__description span:first-of-type {
  font-weight: bold;
}
books .book__data .book__description [description] {
  // margin-top: 5px;
  width: 100%;
  overflow: hidden;
  resize: none;
  font: normal 24px calibri, sans-serif;
}
