@import "../../node_modules/ionicons/dist/scss/ionicons";

[class^="ion-"] {
	color: $icon-base;

	&:hover:not(.disabled) {
		&:before, &:after {
			color: lighten($icon-base, 25%);
		}
	}
	
	&.disabled {
		pointer-events: none;
		&:before, &:after {
			opacity: 0.5;
		}
	}
}
