* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: $font-family-base;
  background-color: rgba(0, 0, 0, .05);
}


[template] {
  display: none !important;
}

[developeronly] {
  display: none !important;
}

.hidden {
  display: none !important;
}



.spacer__x__10px {
  margin-left: 10px;
  margin-right: 10px;
  flex-shrink: 0;
}
